h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 62px;
  padding: 0px;
  margin: 0px;
}

.line2 {
  color: #fbaf00;
  padding-bottom: 30px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: #fbaf00;
  padding-bottom: 30px;
}

.section1 {
  padding: 20px 10%;
}

